@import "tailwindcss";
@import "open-color/open-color.css";
@import "@tmible/wishlist-ui/open-color.css";
@import "./styles/fonts.css";
@import "./styles/themes.css";

@source "../node_modules/@tmible/wishlist-ui";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@theme {
  --color-placeholder: color-mix(in oklch, var(--color-base-content) 40%, #0000);
  /* .shadow-md, но вверх, а не вниз */
  --shadow-md-upside:
    0 -4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
    0 -2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  --color-body: transparent;
  --color-body-content: var(--color-base-content);
}

@variant dark {
  --tw-shadow-color: rgb(200 200 200 / 0.1);
}

@custom-variant elegant {
  &:where([data-theme="elegant-light"] *),
  &:where([data-theme="elegant-dark"] *) {
    @slot;
  }
}

@utility prose {
  blockquote p {
    &::before, &::after {
      @apply hidden;
    }
  }
}

:root {
  /* disable in favour of using bits-ui ScrollArea */
  scrollbar-gutter: auto;
  --svoast-offset: calc(var(--spacing) * 6);
}

body {
  font-family: "Involve";
}

h1, h2, h3, h4 {
  font-family: "Soyuz Grotesk";
}

.btn.skeleton {
  @apply pointer-events-none;
}

.prose {
  @apply max-w-[unset];
}

fieldset:has(input:required) > .fieldset-legend::after {
  content: "*";
  color: red;
}

span.spoiler {
  background-image: url("/C4Zf.gif");
  @apply hover:bg-none;
}

.modal-box {
  @apply max-md:w-full;
  @apply max-md:max-w-none;
  @apply max-md:h-full;
  @apply max-md:rounded-none;
}

body:has(.sortable-fallback) * {
  @apply cursor-grabbing;
}

.sortable-drag {
  @apply shadow-xl;
  @apply opacity-100;
  opacity: 1 !important;
  transform: rotate(7deg);
}

.sortable-ghost {
   @apply opacity-50;
 }

 @keyframes invisible {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.invisible {
  animation-duration: var(--tw-duration, var(--default-transition-duration));
  animation-fill-mode: forwards;
  animation-name: invisible;
}
